<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{STRICT,UTC,en-US} %level [%thread](%logger{36}\) - %msg%replace( [%kvp]){' \[\]', ''}%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
